main {
    display: grid;
    
}

.row {
    border: 1px solid lightgray;
}

.col-sm {
    border: 1px solid lightgray;
}

.navbar.navbar-light {
    background-color: #a8a29e;
}

.navbar-brand {
    margin-left: 1rem;
}

.navbar-text {
    margin-right: 1rem;
}

#table-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

#table {
    margin-top: 1rem;
}

#first-row {
    background-color: #d6d3d1;
}

#book-title, #book-author, #book-pages, #book-genre, #book-read {
    border: 2px solid #d1d5db;
}

#trashBtn {
    border-style: none;
}